@import "../_variables";

#admin-layout {
  .content {
    margin-top: 50px;
    width: calc(100vw - $sidebar-width - 40px);
    padding: 10px;
  }

  .page {
    margin: 12px;
    width: 100%;

    .page-header {
      margin: 12px;

      .text-header {
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-left: 1rem;
      }

      .breadcrumb > li + li::before {
        color: #aeb2b7 !important;
      }

      .breadcrumb {
        &-item {
          font-size: 12px;

          &.active {
            color: white;
          }

          a {
            transition: all .3s ease-in-out;
          }

          a:hover {
            color: white;
          }
        }

        a {
          color: #aeb2b7;
          text-decoration: none;

        }
      }
    }

    .card {
      background: $primary-light-background-color;

      &-header {
        padding: 12px;
        display: flex;
        justify-content: space-between;
      }

      &-body {
        color: white;
      }

      &-footer {
        .btn {
          margin: 0 0.1rem;
        }

        display: flex;
        justify-content: flex-end;
        color: white;
        width: 100%;
        padding: 12px;
      }
    }
  }

}
