@import '../variables';

.sidebar-toggle {
  margin-left: -$sidebar-width;
}

.sidebar-margin {
  margin-left: $sidebar-width;
}

.sidebar {
  width: $sidebar-width;
  height: 100%;
  background: #293949;
  position: fixed;
  transition: all .3s ease-in-out;
  z-index: 100;

  #leftside-navigation {
    .logo-container {
      margin: 0;
      padding: 0;
      position: relative;
      height: 100px;

      .sidebar-logo {
        width: 150px;
        height: 150px;
        position:absolute;
        top: -25px;
        left: 50px;
      }
    }

    ul, ul ul {
      margin: -2px 0 0;
      padding: 0;
    }

    ul ul {
      display: none;

      li {
        background: #23313f;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border-bottom: none;

        a {
          font-size: 12px;
          padding-top: 13px;
          padding-bottom: 13px;
          color: #aeb2b7;

          &:active {
            color: white;
            border: 1px solid rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}
