<div class="card-element carusel-dark" id="team" data-box="team">
    <div class="glide carusel">
        <div class="glide__track carusel" data-glide-el="track">
            <ul class="glide__slides carusel">
                <li class="glide__slide carusel-element team-item">
                    <img class="carusel-img team-image" src="{{asset('build/images/test/test-dog1.png') }}"/>
                    <h4>Kivi</h4>
                    <p class="team-title">Frontend developer</p>
                    <p class="team-social">
                        <a href="javascript:void(0)"><i class="fab fa-linkedin"></i></a>
                        <a href="javascript:void(0)"><i class="fab fa-github"></i></a>
                        <a href="javascript:void(0)"><i class="fa-regular fa-envelope"></i></a>
                    </p>
                </li>
                <li class="glide__slide carusel-element team-item">
                    <img class="carusel-img team-image" src="{{asset('build/images/test/test-cat2.png') }}"/>
                    <h4>Josef</h4>
                    <p class="team-title">Backend developer</p>
                    <p class="team-social">
                        <a href="javascript:void(0)"><i class="fab fa-linkedin"></i></a>
                        <a href="javascript:void(0)"><i class="fab fa-github"></i></a>
                        <a href="javascript:void(0)"><i class="fa-regular fa-envelope"></i></a>
                    </p>
                </li>
                <li class="glide__slide carusel-element team-item">
                    <img class="carusel-img team-image" src="{{asset('build/images/test/test-cat1.png') }}"/>
                    <h4>Radmir</h4>
                    <p class="team-title">Project manager</p>
                    <p class="team-social">
                        <a href="javascript:void(0)"><i class="fab fa-linkedin"></i></a>
                        <a href="javascript:void(0)"><i class="fab fa-github"></i></a>
                        <a href="javascript:void(0)"><i class="fa-regular fa-envelope"></i></a>
                    </p>
                </li>
            </ul>
        </div>
        {{ include('website/carousel/controls/_controls.html.twig')}}
    </div>
</div>
