<div class="first-node card-element logo-box">
    <img src="{{ asset('build/images/brand/logo.png') }}" class="logo" alt="box logo"/>
</div>
<div class="second-node card-element">
    <h1 class="card-header">Witaj w ConiCode</h1>
    <p class="card-desc">Tworzymy Technologie z Pasją!</p>
    <img/>
</div>
<div class="third-node card-element">
    <h2 class="card-header">Na skróty</h2>
    <div class="short-cuts">
        <a class="shortcut-link" href="https://github.com/coni-code" target="_blank">
            <i class="fab fa-github"></i> <p class="shortcut-desc">Github</p>
        </a>
        <a class="shortcut-link" href="https://www.linkedin.com/company/conicodepl/" target="_blank">
            <i class="fab fa-linkedin"></i> <p class="shortcut-desc">LinkedIn</p>
        </a>
        <a class="shortcut-link" href="mailto:recruitment@conicode.pl">
            <i class="fa fa-user"></i> <p class="shortcut-desc">recruitment@conicode.pl</p>
        </a>
        <a class="shortcut-link" href="mailto:contact@conicode.pl">
            <i class="far fa-envelope"></i> <p class="shortcut-desc">contact@conicode.pl</p>
        </a>
    </div>
</div>
