{% extends "website/base.html.twig" %}

{% block body %}

<div class="first-node card-element logo-box">
    <img src="{{ asset('build/images/brand/logo.png') }}" class="logo" alt="box logo"/>
</div>
<div class="second-node card-element" data-box="home-element">
    <h1 class="card-header">Witaj w ConiCode</h1>
    <p class="card-desc">Tworzymy Technologie z Pasją!</p>
    <img/>
</div>
<div class="third-node card-element" data-box="contact-element">
    <h2 class="card-header">Na skróty</h2>
    <p class="card-desc">github</p>
    <p class="card-desc">linkedin</p>
    <p class="card-desc">twitter</p>
    <p class="card-desc">email#1</p>
    <p class="card-desc">email#2</p>
    <img/>
</div>
<div class="forth-node card-element hover-element" data-box="team-element">
    <h2 class="card-header">Poznaj nas</h2>
    <p class="card-desc">Tutaj będzie o naszym teamie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet iaculis neque, non sodales. </p>
    <img/>
</div>
<div class="fifth-node card-element" data-box="projects-element">
    <h2 class="card-header">Projekty</h2>
    <p class="card-desc">Tu będzie jakiś tam projekt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet iaculis neque, non sodales. </p>
    <img/>
</div>
{% endblock %}
