{% extends "website/base.html.twig" %}

{% block body %}

<div class="first-node card-element">
    <h2 class="card-header">Text</h2>
    <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet iaculis neque, non sodales. </p>
    <img/>
</div>
<div class="second-node card-element">
    <h1 class="card-header">Bigger Text</h1>
    <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet iaculis neque, non sodales. </p>
    <img/>
</div>
<div class="third-node card-element">
    <h2 class="card-header">Right Text</h2>
    <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet iaculis neque, non sodales. </p>
    <img/>
</div>
<div class="forth-node card-element">
    <h2 class="card-header">Left Bottom Text</h2>
    <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet iaculis neque, non sodales. </p>
    <img/>
</div>
<div class="fifth-node card-element">
    <h2 class="card-header">Right Bottom Text</h2>
    <p class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sit amet iaculis neque, non sodales. </p>
    <img/>
</div>
{% endblock %}

