<div class="logo-node card-element logo-box" data-box="home">
    <!-- Logo svg goes here -->
    <img class="logo-image" src="{{asset('build/images/brand/logo.svg')}}"/>
</div>
<div class="fill-node card-element"> 
    <span id="trans-quote">{{'home.quote'|trans}}</span>
    <div class="quote" id="quote1"></div>
    <p class="autograph">Brad Fitzpatrick</p>
</div>
<div class="third-node card-element">
    <h2 class="card-header">Na skróty</h2>
    <div class="short-cuts">
        <a class="shortcut-link" href="https://github.com/coni-code" target="_blank">
            <i class="fab fa-github"></i> <p class="shortcut-desc">Github</p> <p class="shortcut-desc2">Github</p>
        </a>
        <a class="shortcut-link" href="https://www.linkedin.com/company/conicodepl/" target="_blank">
            <i class="fab fa-linkedin"></i> <p class="shortcut-desc">LinkedIn</p> <p class="shortcut-desc2">LinkedIn</p>
        </a>
        <a class="shortcut-link" href="mailto:recruitment@conicode.pl">
            <i class="fa fa-user"></i> <p class="shortcut-desc">recruitment@conicode.pl</p> <p class="shortcut-desc2">recruitment</p>
        </a>
        <a class="shortcut-link" href="mailto:contact@conicode.pl">
            <i class="far fa-envelope"></i> <p class="shortcut-desc">contact@conicode.pl</p> <p class="shortcut-desc2">contact</p>
        </a>
    </div>
</div>
