@font-face {
    font-family: 'Roboto-Regular';
    src: url('Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'NovaSquare-Regular';
    src: url('NovaSquare-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansDisplay-Regular';
    src: url('NotoSansDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'NotoSansDisplay-ThinItalic';
    src: url('NotoSansDisplay-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Dhurjati-Regular';
    src: url('Dhurjati-Regular.ttf') format('truetype');
}

  @font-face {
    font-family: 'DancingScript-VariableFont';
    src: url('DancingScript-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Cinzel-VariableFont';
    src: url('Cinzel-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoSlab';
    src: url('RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoSlab';
    font-weight: 200;
    src: url('RobotoSlab-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'RethinkSans';
    src: url('RethinkSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Century Gothic';
    src: url('Century Gothic.ttf') format('truetype');
}

@font-face {
    font-family: 'Quintessential-Regural';
    src: url('Quintessential-Regular.ttf') format('truetype');
}