{% extends "website/base.html.twig" %}

{% block body %}

{{ include('website/navbar/index.html.twig') }}
<div class="main-container">
{{ include('website/header/index.html.twig') }}
{{ include('website/contact/index.html.twig') }}
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
