<div id="contact" class="card-element">
    <div class="contact-box contact-left">
        <h1>{{ 'home.contact.header'|trans }}</h1>
        {{ include('website/contact/_form.html.twig') }}

    </div>
        <div class="contact-box">
            <h1>Our socials</h1>
            <p></p>
            <div class="contact-section social-section">
            <a href="https://www.linkedin.com/company/conicodepl/" target="_blank" class="btn-01 contact-section-box contact-round">
                    <i class="fa-brands fa-linkedin"></i>
                    <h5>Linkedin</h5>
            </a>
            <a href="https://github.com/coni-code"  target="_blank" class="btn-01 contact-section-box contact-round">
                <i class="fa-brands fa-github"></i>
                    <h5>Github</h5>
            </a>
            <div class="btn-01 contact-section-box contact-round">
                <i class="fa-solid fa-face-grimace"></i>
                    <h5>Soon...</h5>
            </div>
        </div>
    </div>
</div>
