{% extends "base.html.twig" %}

{% block body %}
<div id="hero">
    <div id="hero-background">
        <div class="hero-line"></div>
        <div class="hero-line"></div>
        <div class="hero-line"></div>
        <div class="hero-line"></div>
        <div class="hero-line"></div>
        <div class="hero-line"></div>
        <div class="hero-line"></div>
        <div class="hero-line"></div>
    </div>
    <div id="hero-main">
        <div id="hero-title">
            <h1>C<b>O</b>NI <b>KO/D>E</b></h1>
            <h3>Trying their best to develop</h3>
        </div>
        <p>CREATING PORTFOLIO</p>
    </div>
    <div id="hero-desc">
        <div class="hero-desc-content">
            <h2>CREATING to IMPRESS</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Nam venenatis ipsum in risus dictum, quis pharetra ipsum tempus. 
                Vivamus sodales mollis felis eu molestie. Sed aliquam urna non quam condimentum imperdiet.
            </p>
            <a class="button-1" href="#">Learn more</a>
        </div>
    </div>
</div>
{% endblock %}
