<div class="about-us-element card-element" id="about us">
<h2>{{ 'home.header.aboutus'|trans }}</h2>
<p>{{ 'home.header.aboutus.desc'|trans }}</p>
</div>
<div class="card-element about-us-element">
<h2>{{ 'home.header.ourmotivation'|trans }}</h2>
<p>{{ 'home.header.ourmotivation.desc'|trans }}</p>
</div>
