//variables

//backgroudColors:
$background-color-first: #0b1826;
$background-color-second: #0e0e30;

//navbarColor: 
$navbar-color: #06062d;

//linesColor:
$nav-separator-color: #ffd900;
$silver-line-color: #C0C0C0;

//ButtonColors:
$buttonColor: #9a1c1c;

//hoverColors:
$glowButtonColor: #e60000;
$nav-hover-effect: #0e0e30;

//textColors:
$font-color1: #FBFBFB;
$font-color2: #ffd900;

//bodyStartValues:
$body-margin: 0;
$body-padding: 0;
$body-box-sizing: border-box;






