//variables

// Background colors:
$primary-lighter-background-color: #1c3d61;
$primary-light-background-color: #11243a;
$primary-background-color: #0b1826;
$primary-dark-background-color: #050c12;
$primary-darker-background-color: #000000;
$secondary-background-color: #0e0e30;

// Colors
$primary-red-color: #AD343E;
$primary-yellow-color: #F2AF29;
$primary-green-color: #4F772D;

// Lines color:
$nav-separator-color: #ffd900;
$silver-line-color: #C0C0C0;

// Button colors:
$buttonColor: #9a1c1c;

// Hover colors:
$glowButtonColor: #e60000;
$nav-hover-effect: #0e0e30;

// Text colors:
$font-color1: #FBFBFB;
$font-color2: #F2AF29;
$font-color3: #C0C0C0;

// Body start values:
$body-margin: 0;
$body-padding: 0;
$body-box-sizing: border-box;
