@import "~bootstrap/scss/bootstrap";
@import "_variables";
@import "../fonts/fonts";

body {
    background-color: $primary-background-color;
    font-family: "NotoSansDisplay-Regular", serif;
    box-shadow: $body-box-sizing;
    margin: $body-margin;
    padding: $body-padding;
    color: $font-color1;
}

.navbar-color{
    background-color: $primary-light-background-color;
}

.nav-link{
    color: $font-color1;
    transition: all 0.5s;
    position: relative;
    margin-left: 15px;
}

.nav-link:hover{
    color:$font-color2;
}

.nav-link:hover::after {
    background-color: $font-color2; 
    color: $font-color2;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-brand{
    color: $font-color3;
}

.navbar-brand:hover{
    color: $font-color3;
}

.navbar-toggler{
    background-color: $font-color1;
}

.navbar-nav .nav-link:focus {
    color: $font-color2; 
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    color: white;
    margin-bottom: 5px;
}

.card {
    background-color: $primary-light-background-color;
}

.card-header {
    color: white;
}
