@import '~bootstrap/scss/bootstrap';
@import 'variables.scss';
@import '../fonts/_fonts.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~flag-icons/css/flag-icons.min.css';

.container {
    background-color: $primary-light-background-color;
    padding: 1rem;
    min-height: 100vh;
    margin-top: 3rem;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    color: white;
    margin-bottom: 5px;
}

body {
    background-color: $primary-background-color;
    font-family: RobotoSlab, serif;
    box-shadow: $body-box-sizing;
    margin: $body-margin;
    padding: $body-padding;
    color: $font-color-white;
    display: flex;
    justify-content: center;
}

#home-layout {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main-container{
    padding-top: 70px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
    z-index: 0;
}

.btn-01{
    text-align: center;
    padding: 12px;
    width: fit-content;
    max-width: 100%;
    background-color: $primary-red-color;
    border-radius: 24px;
    color: $font-color-white;
    text-decoration: none;
    font-weight: bold;
    transition: 200ms;
    border: 3px solid $primary-red-color;
}

.btn-01:hover {
    background-color: $button-hover;
    border-color: $button-hover;
}

.btn-01:active {
    background-color: #0000;
    color: $primary-red-color;
    border-color: $primary-red-color;
}

.base-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    color: white;
}

.base-table th,
.base-table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid $primary-lighter-background-color;
}

.base-table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $primary-lighter-background-color;
}

.base-table tbody + tbody {
    border-top: 2px solid $primary-lighter-background-color;
}

.base-table-underlined {
    border-collapse: collapse;
}

.base-table-underlined th,
.base-table-underlined td {
    border-top: none;
}

.base-table-underlined tr {
    border-bottom: 1px solid $primary-lighter-background-color;
}
