@import '~bootstrap/scss/bootstrap';
@import 'variables.scss';
@import '../fonts/_fonts.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~flag-icons/css/flag-icons.min.css';

.container {
    background-color: $primary-light-background-color;
    padding: 1rem;
    min-height: 100vh;
    margin-top: 3rem;
    border-radius: 5px;
}

.fi-lang{
    font-size: 20px;
    border-radius: 50%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    color: white;
    margin-bottom: 5px;
}


