{% block body %}
    <div id="contact" class="w-100 bg-dark row m-0" style="height:500px">
        <div id="form" class="col d-flex align-items-center justify-content-center flex-column">
            <h1 class="h2">Contact us!</h1>
            {{form_start(contact_form)}}
            {{form_end(contact_form)}}
        </div>
        <div id="info" class="col">
            <h1 class="h2">Index</h1>
        </div>
    </div>
{% endblock %}
