{% extends 'base.html.twig' %}
{% block body %}
<div id="container" class="xxl-container " style="height: 100svh">
    <div class="row h-100 w-100 m-0">
        <div id="nav" class="h-100 col-md-2 col-sm-5 btn-group-vertical">
            <a class="btn rounded-0 border-dark btn-primary w-100 mt-1" href="#">mama</a>
            <a class="btn rounded-0 border-dark btn-secondary w-100 mt-1" href="#">tata</a>
            <a class="btn rounded-0 border-dark btn-secondary w-100 mt-1" href="#">tata</a>
            <a class="btn rounded-0 border-dark btn-secondary w-100 mt-1" href="#">tata</a>
            <a class="btn rounded-0 border-dark btn-secondary w-100 mt-1" href="#">tata</a>
            <a class="btn rounded-0 border-dark btn-secondary w-100 mt-1" href="#">tata</a>
            <a class="btn rounded-0 border-dark btn-secondary w-100 mt-1" href="#">tata</a>
            <a class="btn rounded-0 border-dark btn-secondary w-100 mt-1" href="#">tata</a>
        </div>
        <div id="main" class="col">
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
