@import "@glidejs/glide/src/assets/sass/glide.core";
@import "@glidejs/glide/src/assets/sass/glide.theme";

.carusel{
    width: 100%;
    height: 100%;
}

.carusel-element{
    height: 100%;
    width: 100%;
    transition: 300ms;
    position: relative;
}
