@import '../variables';

#contact{
    grid-column: 8 span;
    min-height: fit-content;
    display: grid;
    grid-template-columns: 50% 1fr;
    gap:50px;
    overflow:visible;
}

.contact-box{
    padding-top: 50px;
}

.submit{
    width: 100%;
    border-radius: 20px;
}

.contact-section{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-section-box{
    border: 2px solid $primary-red-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size:2em;
    margin-bottom: 5px;
    width: 100px;
    height: 100px;
    padding: 12px;
}

.contact-round{
    border-radius: 10px;
}

.social-section{
    height: 120px;
}

@media screen and (width <= 600px){
    #contact{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
        padding: 20px;
    }
}
