@import '../variables.scss';

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-background-color;
    opacity: 80%;
    width: 100vw;
    height: 100px;
    margin: 0;
    margin-top: 20px;
}
.footer img{
    height: 80%;
}
