.first-node{
    grid-column: span 2;
}
.second-node{
    grid-column: span 4;
}
.third-node{
    grid-column: span 2;
}
.forth-node{
    grid-column: span 4;
}
.fifth-node{
    grid-column: span 4;
}
.logo_box{
    overflow: hidden;
}
.logo{
    filter: grayscale(90%);
    opacity: 60%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-10%,15%);
}
@media screen and (max-width: 500px) {
    .first-node{
        grid-row-start: 2;
        grid-column: span 4;
    }
    .second-node{
        grid-row-start: 1;
        grid-column: span 8;
    }
    .third-node{
        grid-row-start: 2;
        grid-column: span 4;
    }
    .forth-node{
        grid-column: span 8;
    }
    .fifth-node{
        grid-column: span 8;
    }
}
