@import "../_variables";


.hero {
    width: 100%;
    height: 100svh;
    border-top: 4px solid $primary-red-color;
    border-bottom: 4px solid $primary-red-color;
    display: flex;
    flex-wrap: wrap;
    font-family: 'RethinkSans', serif;
    overflow:hidden;
    position: relative;
    background: linear-gradient(137deg, rgba(255,255,255,0.1) 0%, rgba(252,176,69,0) 100%); 
}

.hero-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    background: url("../../image/blob.svg") no-repeat 100% 100%;
    overflow: hidden;
}

.hero-line {
    width: 2px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.055);
}

.hero-main {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-title > h1 {
    font-size: clamp(3em,5vw,9em);
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 400;

    b {
        color: $primary-yellow-color;
    }:first-child {
        color: $primary-red-color;
    }
}

.hero-title > h3 {
    margin-top: 0;
    padding-top: 0;
    color: $font-color-grey;
}

.hero-main > p {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation:sideways;
    left: 30px;
    top:50%;
    color: $font-color-grey;
}

.hero-desc {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-desc p {
    color: $font-color-grey;
    font-weight: 200;
    font-size: 1.5rem;
}

.hero-desc-content {
    display: flex;
    flex-direction: column;
    width: 50%;

    h2 {
        font-size: 2.5rem;
    }
}

.learn-more-btn {
    text-align: center;
    padding: 12px;
    align-self: flex-start;
    width: fit-content;
    max-width: 100%;
    background-color: $primary-red-color;
    border-radius: 24px;
    color: $font-color-white;
    text-decoration: none;
    font-weight: bold;
    transition: 100ms;
    border: 3px solid $primary-red-color;
}

.learn-more-btn:hover {
    background-color: $button-hover;
    border-color: $button-hover;
}

.learn-more-btn:active {
    background-color: #00000000;
    border-color: $primary-red-color;
}
