@import '../variables';

#team{
    grid-column: span 8;
    height: 600px;
    overflow: hidden;
}

.team-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.team-image{
    width: 100%;
    border-radius: 50%;
}

.team-title{
    color: $primary-blue-color;
    text-align: center;
}

.team-social{
    gap: 5px;
}

.team-social a{
    color: white;
}
