<div class="card-element carusel-dark" id="portfolio" data-box="portfolio">
    {% set count = 3 %}
    <div class="glide carusel">
        <div class="glide__track carusel" data-glide-el="track">
            <ul class="glide__slides carusel">
                <li class="glide__slide carusel-element">
                    <div class="portfolio-wraper">
                        <h1 class="portfolio-title">Gymek</h1>
                        <p class="portfolio-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nisi molestie, porta risus eget, pellentesque erat. Mauris malesuada vehicula pellentesque.
                        </p>
                    </div>
                    <img class="portfolio-img" src="{{asset('build/images/test/gymek.png') }}"/>
                </li>
                <li class="glide__slide carusel-element">
                    <div class="portfolio-wraper">
                        <h1 class="portfolio-title">Fighter</h1>
                        <p class="portfolio-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nisi molestie, porta risus eget, pellentesque erat. Mauris malesuada vehicula pellentesque.
                        </p>
                    </div>
                    <img class="portfolio-img" src="{{asset('build/images/test/fighter.png') }}"/>
                </li>
                <li class="glide__slide carusel-element">
                    <div class="portfolio-wraper">
                        <h1 class="portfolio-title">Gymek</h1>
                        <p class="portfolio-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nisi molestie, porta risus eget, pellentesque erat. Mauris malesuada vehicula pellentesque.
                        </p>
                    </div>
                    <img class="portfolio-img" src="{{asset('build/images/test/gymek.png') }}"/>
                </li>
            </ul>
        </div>
        {{ include('website/carousel/controls/_controls.html.twig')}}
    </div>
</div>
