{% extends "website/base.html.twig" %}

{% block body %}

<div class="card-element" id="portfolio">
    <div  class="to-left-place carusel-element"></div>
    <div class="left-place carusel-element"></div>
    <div class="main-place carusel-element"></div>
    <div class="right-place carusel-element"></div>
    <div class="to-right-place carusel-element"></div>
</div>
{% endblock %}
