{% extends "website/base.html.twig" %}

{% block body %}

<div class="card-element first-portfolio-node">
    <h1 class="card-header">Gymek</h1>
    <p class="card-desc">Gymek</p>
</div>
<div class="card-element second-portfolio-node">
    <h1></h1>
</div>
<div class="card-element third-portfolio-node">
    <div>Mama</div>
    <div>Mia</div>
    <div>Pizze</div>
    <div>Ria</div>
</div>
<div class="card-element forth-portfolio-node">

</div>
<div class="card-element fifth-portfolio-node">
    <h1>Next</h1>
</div>
<div class="card-element sixth-portfolio-node">
    <h1 class="card-header">Our creations</h1>
</div>
<div class="card-element seventh-portfolio-node">
    <h1>Preview</h1>
</div>
<div class="card-element eighth-portfolio-node">
</div>
<div class="card-element ninth-portfolio-node">
    <h1>We cant sto creating!</h1>
</div>
{% endblock %}
