{% extends "website/base.html.twig" %}

{% block body %}
<div class="card-element carusel-dark" id="portfolio">
    <div class="glide carusel">
        <div class="glide__track carusel" data-glide-el="track">
            <ul class="glide__slides carusel">
                <li class="glide__slide carusel-element">
                    <h1>Gymek</h1>
                    <p class="carusel-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nisi molestie, porta risus eget, pellentesque erat. Mauris malesuada vehicula pellentesque. 
                        </p>                 
                    <img class="carusel-img" src="{{asset('build/images/test/gymek.png') }}"/>
                </li>
                <li class="glide__slide carusel-element">
                    <h1>Fighter</h1>  
                    <p class="carusel-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nisi molestie, porta risus eget, pellentesque erat. Mauris malesuada vehicula pellentesque. 
                    </p>                 
                    <img class="carusel-img" src="{{asset('build/images/test/fighter.png') }}"/>
                </li>
                <li class="glide__slide carusel-element">
                    <h1>Dino Crusade</h1>
                    <p class="carusel-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet nisi molestie, porta risus eget, pellentesque erat. Mauris malesuada vehicula pellentesque. 
                    </p>                 
                    <img class="carusel-img" src="{{asset('build/images/test/fighter.png') }}"/>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home/carousel') }}
{% endblock %}
